# Ordinal Encoder

In [4]:
import pandas as pd

In [5]:
df=pd.read_csv(r"C:\Users\dell\Downloads\Cases_Data_B._Cases_Dataset_(CSV).csv")

In [6]:
df

,Borough,Borough Code,BHR,BHR Code,Report Date,Onset Date,Onset Date Replaced,Resident (Y/N),Occurrence (Y/N)
0,Anchorage Municipality,20,Anchorage Municipality,1,03/18/2020,03/07/2020,0,Y,Y
1,Kenai Peninsula Borough,122,Kenai Peninsula Borough,4,03/18/2020,03/15/2020,0,Y,Y
2,Fairbanks North Star Borough,90,Fairbanks North Star Borough,2,03/16/2020,03/12/2020,0,Y,Y
3,Fairbanks North Star Borough,90,Fairbanks North Star Borough,2,03/16/2020,03/13/2020,0,Y,Y
4,Ketchikan Gateway Borough,130,Other Southeast Region - Southern,9,03/17/2020,03/14/2020,0,Y,Y
...,...,...,...,...,...,...,...,...,...
294786,Kenai Peninsula Borough,122,Kenai Peninsula Borough,4,03/11/2023,03/11/2023,1,Y,Y
294787,Anchorage Municipality,20,Anchorage Municipality,1,03/11/2023,03/11/2023,1,Y,Y
294788,Kenai Peninsula Borough,122,Kenai Peninsula Borough,4,03/11/2023,03/11/2023,1,Y,Y
294789,Anchorage Municipality,20,Anchorage Municipality,1,03/11/2023,03/11/2023,1,Y,Y
294790,Anchorage Municipality,20,Anchorage Municipality,1,03/11/2023,03/11/2023,1,Y,Y

In [7]:
temp1=df.iloc[:,2]

temp1

In [8]:
temp1

0                    Anchorage Municipality
1                   Kenai Peninsula Borough
2              Fairbanks North Star Borough
3              Fairbanks North Star Borough
4         Other Southeast Region - Southern
                        ...
294786              Kenai Peninsula Borough
294787               Anchorage Municipality
294788              Kenai Peninsula Borough
294789               Anchorage Municipality
294790               Anchorage Municipality
Name: BHR, Length: 294791, dtype: object

In [9]:
unique1=temp1.unique()

In [10]:
temp=df[['BHR']]

In [11]:
unique1

array(['Anchorage Municipality', 'Kenai Peninsula Borough',
       'Fairbanks North Star Borough',
       'Other Southeast Region - Southern',
       'Other Southeast Region - Northern', 'Matanuska-Susitna Borough',
       'Juneau City and Borough', 'Other Interior Region',
       'Y-K Delta Region', 'Northwest Region', 'Southwest Region',
       'Unknown'], dtype=object)

# Label Encoder

In [12]:
from sklearn.preprocessing import OrdinalEncoder
import numpy as np
import pandas as pd

In [13]:
temp=df[['BHR']]

In [14]:
obj=OrdinalEncoder(categories=[['Anchorage Municipality', 'Kenai Peninsula Borough',
       'Fairbanks North Star Borough',
       'Other Southeast Region - Southern',
       'Other Southeast Region - Northern', 'Matanuska-Susitna Borough',
       'Juneau City and Borough', 'Other Interior Region',
       'Y-K Delta Region', 'Northwest Region', 'Southwest Region',
       'Unknown']])

In [15]:
fit1=obj.fit(temp)

In [16]:
T=obj.transform(temp)

In [17]:
new_df1=pd.concat([temp,pd.DataFrame(T,columns=['BHR1'])],axis=1)

In [18]:
new_df1

                                      BHR  BHR1
0                  Anchorage Municipality   0.0
1                 Kenai Peninsula Borough   1.0
2            Fairbanks North Star Borough   2.0
3            Fairbanks North Star Borough   2.0
4       Other Southeast Region - Southern   3.0
...                                   ...   ...
294786            Kenai Peninsula Borough   1.0
294787             Anchorage Municipality   0.0
294788            Kenai Peninsula Borough   1.0
294789             Anchorage Municipality   0.0
294790             Anchorage Municipality   0.0

[294791 rows x 2 columns]

In [19]:
T

array([[0.],
       [1.],
       [2.],
       ...,
       [1.],
       [0.],
       [0.]])

In [20]:
temp.shape

(294791, 1)

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
obj1 = LabelEncoder()

In [23]:
obj1.fit(temp)

C:\Users\dell\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LabelEncoder()

In [24]:
 encode=obj1.transform(temp)

C:\Users\dell\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [25]:
new_df=pd.concat([new_df1,pd.DataFrame(encode,columns=['BHR2'])],axis=1)

In [26]:
new_df

                                      BHR  BHR1  BHR2
0                  Anchorage Municipality   0.0     0
1                 Kenai Peninsula Borough   1.0     3
2            Fairbanks North Star Borough   2.0     1
3            Fairbanks North Star Borough   2.0     1
4       Other Southeast Region - Southern   3.0     8
...                                   ...   ...   ...
294786            Kenai Peninsula Borough   1.0     3
294787             Anchorage Municipality   0.0     0
294788            Kenai Peninsula Borough   1.0     3
294789             Anchorage Municipality   0.0     0
294790             Anchorage Municipality   0.0     0

[294791 rows x 3 columns]

# Nomial Encoder
   Dummy
   One Hot Encoding

In [27]:
pd.get_dummies(df['BHR'])

,Anchorage Municipality,Fairbanks North Star Borough,Juneau City and Borough,Kenai Peninsula Borough,Matanuska-Susitna Borough,Northwest Region,Other Interior Region,Other Southeast Region - Northern,Other Southeast Region - Southern,Southwest Region,Unknown,Y-K Delta Region
0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
294786,0,0,0,1,0,0,0,0,0,0,0,0
294787,1,0,0,0,0,0,0,0,0,0,0,0
294788,0,0,0,1,0,0,0,0,0,0,0,0
294789,1,0,0,0,0,0,0,0,0,0,0,0
294790,1,0,0,0,0,0,0,0,0,0,0,0

In [28]:
from sklearn.preprocessing import OneHotEncoder

In [29]:
df

,Borough,Borough Code,BHR,BHR Code,Report Date,Onset Date,Onset Date Replaced,Resident (Y/N),Occurrence (Y/N)
0,Anchorage Municipality,20,Anchorage Municipality,1,03/18/2020,03/07/2020,0,Y,Y
1,Kenai Peninsula Borough,122,Kenai Peninsula Borough,4,03/18/2020,03/15/2020,0,Y,Y
2,Fairbanks North Star Borough,90,Fairbanks North Star Borough,2,03/16/2020,03/12/2020,0,Y,Y
3,Fairbanks North Star Borough,90,Fairbanks North Star Borough,2,03/16/2020,03/13/2020,0,Y,Y
4,Ketchikan Gateway Borough,130,Other Southeast Region - Southern,9,03/17/2020,03/14/2020,0,Y,Y
...,...,...,...,...,...,...,...,...,...
294786,Kenai Peninsula Borough,122,Kenai Peninsula Borough,4,03/11/2023,03/11/2023,1,Y,Y
294787,Anchorage Municipality,20,Anchorage Municipality,1,03/11/2023,03/11/2023,1,Y,Y
294788,Kenai Peninsula Borough,122,Kenai Peninsula Borough,4,03/11/2023,03/11/2023,1,Y,Y
294789,Anchorage Municipality,20,Anchorage Municipality,1,03/11/2023,03/11/2023,1,Y,Y
294790,Anchorage Municipality,20,Anchorage Municipality,1,03/11/2023,03/11/2023,1,Y,Y

In [30]:
obj3=OneHotEncoder(drop='first',sparse=True)

In [31]:
obj3.fit(df[['BHR']])

OneHotEncoder(drop='first')

In [32]:
m=obj3.transform(df[['BHR']]).toarray().shape

In [33]:
m

(294791, 11)

In [34]:
df1=pd.read_csv(r"C:\Users\dell\Downloads\house.csv.csv")

In [35]:
df1

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [36]:
p=df.dropna()

In [37]:
p

,Borough,Borough Code,BHR,BHR Code,Report Date,Onset Date,Onset Date Replaced,Resident (Y/N),Occurrence (Y/N)
0,Anchorage Municipality,20,Anchorage Municipality,1,03/18/2020,03/07/2020,0,Y,Y
1,Kenai Peninsula Borough,122,Kenai Peninsula Borough,4,03/18/2020,03/15/2020,0,Y,Y
2,Fairbanks North Star Borough,90,Fairbanks North Star Borough,2,03/16/2020,03/12/2020,0,Y,Y
3,Fairbanks North Star Borough,90,Fairbanks North Star Borough,2,03/16/2020,03/13/2020,0,Y,Y
4,Ketchikan Gateway Borough,130,Other Southeast Region - Southern,9,03/17/2020,03/14/2020,0,Y,Y
...,...,...,...,...,...,...,...,...,...
294786,Kenai Peninsula Borough,122,Kenai Peninsula Borough,4,03/11/2023,03/11/2023,1,Y,Y
294787,Anchorage Municipality,20,Anchorage Municipality,1,03/11/2023,03/11/2023,1,Y,Y
294788,Kenai Peninsula Borough,122,Kenai Peninsula Borough,4,03/11/2023,03/11/2023,1,Y,Y
294789,Anchorage Municipality,20,Anchorage Municipality,1,03/11/2023,03/11/2023,1,Y,Y
294790,Anchorage Municipality,20,Anchorage Municipality,1,03/11/2023,03/11/2023,1,Y,Y

In [38]:
temp=p['size']

KeyError: 'size'

In [ ]:
temp

In [ ]:
temp.unique()

In [ ]:
temp1=p[['size']]

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
enco=OrdinalEncoder(categories=[['2 BHK', '4 Bedroom', '3 BHK', '3 Bedroom', '1 RK', '4 BHK',
       '1 BHK', '5 BHK', '11 BHK', '5 Bedroom', '9 BHK', '2 Bedroom',
       '6 BHK', '7 BHK', '6 Bedroom']])

In [ ]:
enco.fit(temp1)

In [ ]:
enco.transform(temp1)

In [ ]:
p1=pd.get_dummies(df['size'])

In [ ]:
concate=pd.concat([temp1,p1],axis=1)

In [ ]:
concate.to_string()

In [58]:
!pip install imblearn

Requirement already satisfied: imblearn in c:\users\dell\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\dell\anaconda3\lib\site-packages (from imblearn) (0.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\dell\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\dell\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: scipy>=1.3.2 in c:\users\dell\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.9.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\dell\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)

# upsampling/OverSampling

In [39]:
df

,Borough,Borough Code,BHR,BHR Code,Report Date,Onset Date,Onset Date Replaced,Resident (Y/N),Occurrence (Y/N)
0,Anchorage Municipality,20,Anchorage Municipality,1,03/18/2020,03/07/2020,0,Y,Y
1,Kenai Peninsula Borough,122,Kenai Peninsula Borough,4,03/18/2020,03/15/2020,0,Y,Y
2,Fairbanks North Star Borough,90,Fairbanks North Star Borough,2,03/16/2020,03/12/2020,0,Y,Y
3,Fairbanks North Star Borough,90,Fairbanks North Star Borough,2,03/16/2020,03/13/2020,0,Y,Y
4,Ketchikan Gateway Borough,130,Other Southeast Region - Southern,9,03/17/2020,03/14/2020,0,Y,Y
...,...,...,...,...,...,...,...,...,...
294786,Kenai Peninsula Borough,122,Kenai Peninsula Borough,4,03/11/2023,03/11/2023,1,Y,Y
294787,Anchorage Municipality,20,Anchorage Municipality,1,03/11/2023,03/11/2023,1,Y,Y
294788,Kenai Peninsula Borough,122,Kenai Peninsula Borough,4,03/11/2023,03/11/2023,1,Y,Y
294789,Anchorage Municipality,20,Anchorage Municipality,1,03/11/2023,03/11/2023,1,Y,Y
294790,Anchorage Municipality,20,Anchorage Municipality,1,03/11/2023,03/11/2023,1,Y,Y

In [45]:
X=df.drop(['Occurrence (Y/N)'],axis=1)

In [47]:
y=df['Occurrence (Y/N)']

In [48]:
y

0         Y
1         Y
2         Y
3         Y
4         Y
         ..
294786    Y
294787    Y
294788    Y
294789    Y
294790    Y
Name: Occurrence (Y/N), Length: 294791, dtype: object

In [44]:
X

,Borough,Borough Code,BHR,BHR Code,Report Date,Onset Date,Onset Date Replaced,Resident (Y/N)
0,Anchorage Municipality,20,Anchorage Municipality,1,03/18/2020,03/07/2020,0,Y
1,Kenai Peninsula Borough,122,Kenai Peninsula Borough,4,03/18/2020,03/15/2020,0,Y
2,Fairbanks North Star Borough,90,Fairbanks North Star Borough,2,03/16/2020,03/12/2020,0,Y
3,Fairbanks North Star Borough,90,Fairbanks North Star Borough,2,03/16/2020,03/13/2020,0,Y
4,Ketchikan Gateway Borough,130,Other Southeast Region - Southern,9,03/17/2020,03/14/2020,0,Y
...,...,...,...,...,...,...,...,...
294786,Kenai Peninsula Borough,122,Kenai Peninsula Borough,4,03/11/2023,03/11/2023,1,Y
294787,Anchorage Municipality,20,Anchorage Municipality,1,03/11/2023,03/11/2023,1,Y
294788,Kenai Peninsula Borough,122,Kenai Peninsula Borough,4,03/11/2023,03/11/2023,1,Y
294789,Anchorage Municipality,20,Anchorage Municipality,1,03/11/2023,03/11/2023,1,Y
294790,Anchorage Municipality,20,Anchorage Municipality,1,03/11/2023,03/11/2023,1,Y

In [42]:
df['Occurrence (Y/N)'].value_counts()

Y    293011
N      1780
Name: Occurrence (Y/N), dtype: int64

In [41]:
from imblearn.over_sampling import RandomOverSampler

In [52]:
over=  RandomOverSampler(sampling_strategy=0.30)

In [53]:
X_new,y_new=over.fit_resample(X,y)

In [54]:
X_new

,Borough,Borough Code,BHR,BHR Code,Report Date,Onset Date,Onset Date Replaced,Resident (Y/N)
0,Anchorage Municipality,20,Anchorage Municipality,1,03/18/2020,03/07/2020,0,Y
1,Kenai Peninsula Borough,122,Kenai Peninsula Borough,4,03/18/2020,03/15/2020,0,Y
2,Fairbanks North Star Borough,90,Fairbanks North Star Borough,2,03/16/2020,03/12/2020,0,Y
3,Fairbanks North Star Borough,90,Fairbanks North Star Borough,2,03/16/2020,03/13/2020,0,Y
4,Ketchikan Gateway Borough,130,Other Southeast Region - Southern,9,03/17/2020,03/14/2020,0,Y
...,...,...,...,...,...,...,...,...
380909,Anchorage Municipality,20,Anchorage Municipality,1,02/17/2021,02/15/2021,1,Y
380910,Fairbanks North Star Borough,90,Fairbanks North Star Borough,2,03/31/2021,03/18/2021,1,Y
380911,Petersburg Borough,195,Other Southeast Region - Northern,8,11/12/2020,11/08/2020,0,Y
380912,Matanuska-Susitna Borough,170,Matanuska-Susitna Borough,5,03/01/2021,01/08/2021,0,Y
380913,Juneau City and Borough,110,Juneau City and Borough,3,04/30/2021,04/28/2021,1,Y

In [56]:
y_new.value_counts()

Y    293011
N     87903
Name: Occurrence (Y/N), dtype: int64

In [59]:
(293011/100)*30

87903.3

In [64]:
from imblearn.under_sampling import NearMiss

In [69]:
under=NearMiss(sampling_strategy=0.30)

In [70]:
X_new_under,y_mew_under=under.fit_resample(X,y)

ValueError: could not convert string to float: 'Anchorage Municipality'